body {
    position: absolute; 
    margin: 0; 
    height: 100%; 
    width: 100%;
}

#game {
    position: relative;
    height: 100%;
    width: 100%;
    visibility: hidden;
}

#guess_name {
    position: absolute;
    z-index: 1;
    background-color: gainsboro;
    padding: 15px;
}

#map {
    height: 100%;
    z-index: 0;
}